<input type="text" [(ngModel)]="demo_msg01" (keyup)="getD($event)">
<h1>**************************************</h1>
<ul *ngIf="demo_msg02.length>0">
    <li *ngFor="let mylist of demo_msg02; let i=index" [hidden]="mylist.state==1">
            <span>{{mylist.msg}}</span>
            <font color="red">{{i}}</font>
            <button (click)="del(i)">×</button>
            <span (click)="change(i,1)">{{mylist.state}}</span>
    </li>
</ul>
<h1>**************************************</h1>
<ul *ngIf="demo_msg02.length>0">
    <li *ngFor="let mylist of demo_msg02; let i=index" [hidden]="!mylist.state==1">
            <span>{{mylist.msg}}</span>
            <font color="red">{{i}}</font>
            <button (click)="del(i)">×</button>
            <span (click)="change(i,0)">{{mylist.state}}</span>
    </li>
</ul>
<!-- <p style="color:red" *ngIf="demo_msg02.length==0" >请添加数据</p> -->
<p style="color:red" [hidden]="!demo_msg02.length==0" >请添加数据</p>


<div class="container">
    <div class="row">
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
        <div class="col-xs-6	col-sm-6	col-md-3	col-lg-3">
            pc
        </div>
    </div>
</div>
