<div class="container">
  <ul>
    <li class="col-sx-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let item of mylist; let i=index">
      <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-1 col-lg-1 text-center"> {{item.aid}}</div>
        <div class="col-sx-6 col-sm-6 col-md-1 col-lg-1 text-center"> {{item.username}}</div>
        <div class="col-sx-12 col-sm-12 col-md-7 col-lg-7 text-center"> {{item.title}}</div>
      </div> 
    </li>
    <!-- <li *ngFor="let item of mylistfeed">
        {{item.HeadFace}}
    </li> -->
  </ul>
</div>