*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.attraction_box{
	width: 1100px;
	height: 4353px;
	margin: auto;
	cursor:pointer ;
}

.attraction_box>h2{
	color: rgb(131,131,131);
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 2px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
	border-bottom: 2px solid rgb(228,228,228);
	line-height: 20px;
}
.attraction_box .see_box{
	width: 1100px;
	height: 3000px;
	margin: auto;
}
.attraction_box .see_box img{
	width: 400px;
	height: 300px;
}
.bg_one{
	width: 400px;
	height: 300px;
	float: left;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.bg_one:hover img{
	position: absolute;
	transform: scale(1.3);
	transition: all 2s;
}
.bg_three:hover img{
	position: absolute;
	transform: scale(1.3);
	transition: all 2s;
}
.bg_two{
	width: 600px;
	height: 300px;
	float: left;
	margin-bottom: 10px;
	margin-left:65px ;
	
}
.bg_two h4{
	font-size: 20px;
	color: rgb(51,51,51);
	height: 50px;
	line-height: 75px;
	letter-spacing: 2px;
}
.bg_two p{
	font-size: 16px;
	color: rgb(102,102,106);
	letter-spacing: 2px;
}
.bg_two p:nth-of-type(1){
	height: 65px;
	line-height: 70px;
}

.bg_three{
	width: 400px;
	height: 300px;
	float: left;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.bg_four{
	width: 600px;
	height: 300px;
	float: left;
	margin-bottom: 10px;
	
}
.bg_four h4{
	font-size: 20px;
	color: rgb(51,51,51);
	height: 50px;
	line-height: 75px;
	letter-spacing: 2px;
}
.bg_four p{
	font-size: 16px;
	color: rgb(102,102,106);
	letter-spacing: 2px;
}
.bg_four p:nth-of-type(1){
	height: 65px;
	line-height: 70px;
}
.video{
	width: 1100px;
	height: 800px;
	background: url(../images/attr/video.jpeg) -36px -33px no-repeat;
	background-size:cover ;
	position: relative;
}
.video_mask{
	width: 1100px;
	height: 800px;
	background: #000;
	position: absolute;
	opacity: 0.5;
}
.video_box{
	width: 100px;
	height: 100px;
	background: url(../images/attr/play.png);
	position: absolute;
	background-size:cover;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
}
.video:hover .video_mask{
	display: none;
}
.video_box:hover{
	background: url(../images/attr/play1.png);
	background-size:cover;
	
}
